.how{
  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    /* identical to box height */
    
    text-align: center;
    
    color: #082F49;
}


.newAcc{
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    
    /* Text color */
    
    color: #0F001A;
}

.AccPar{
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    
    text-align: center;
    
    /* Text color */
    
    color: #0F001A;
}



.Verif{
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    
    /* Text color */
    
    color: #0F001A;
}

.VerifPar{
    /* position: absolute; */
    
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    
    text-align: center;
    
    /* Text color */
    
    color: #0F001A;
}



.EnjoyJud{
    /* position: absolute; */
    
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    
    /* Text color */
    
    color: #0F001A;
}

.EnjoyPar{
    /* position: absolute; */
    
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    
    text-align: center;
    
    /* Text color */
    
    color: #0F001A;
}

