.AllHome3 {
  background: #e5e5e5;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
}
.Home3 {
  font-family: "Poppins";
  font-style: normal;
  position: relative;
  justify-content: center;
  text-align: center;
}

.How {
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
  text-align: center;

  /* padding-left: 200px; */
  /* padding-right: 700px; */
  /* justify-content: center; */
  /* align-items: center; */
}

.GrupAcc {
  display: inline;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.works_sekur {
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.works_semil {
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 40px;
}

/* judul akun */
.JudAkun {
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
  font-size: 18px;
}

.Verif {
  padding-top: 10px;
  justify-content: center;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
  font-size: 18px;
}

.EnjoyJud {
  padding-top: 10px;
  justify-content: center;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
  font-size: 18px;
}

.EnjoyPar {
  justify-content: center;
  font-size: 16px;
}

.VerifPar {
  justify-content: center;
  font-size: 16px;
}

.AccPar {
  justify-content: center;
  font-size: 16px;
}
