.Apa{
    position: absolute;
    width: 588px;
    height: 228px;
    left: 138px;
    top: 936px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 57px;
    /* or 142% */
    
    letter-spacing: 0.05em;
    
    color: #082F49;
}

.Tombol{
    position: absolute;
    width: 76px;
    height: 30px;
    left: 863px;
    top: 1377px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    /* identical to box height, or 214% */
    
    
    color: #1E324A;
}

.ModalKonsul{
    position: absolute;
    width: 380px;
    height: 525px;
    left: 815px;
    top: 930px;
    
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(74, 153, 211, 0.2);
    border-radius: 10px;
}
.Konsul{
    position: absolute;
    width: 106px;
    height: 30px;
    left: 863px;
    top: 1176px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    
    letter-spacing: 0.02em;
    
    /* Text color */
    
    color: #0F001A;
}
.TawarKonsul{
    position: absolute;
    width: 284px;
    height: 103px;
    left: 863px;
    top: 1222px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    
    
    /* Text color */
    
    color: #0F001A;
    
    opacity: 0.6;
}

.ModalJasa{
    position: absolute;
    width: 380px;
    height: 525px;
    left: 330px;
    top: 1226px;
}

.Jasa{
    position: absolute;
    width: 131px;
    height: 30px;
    left: 378px;
    top: 1462px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    
    letter-spacing: 0.02em;
    
    /* Text color */
    
    color: #0F001A;
}

.Soon{
    position: absolute;
    width: 441px;
    height: 63px;
    left: 378px;
    top: 1415px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 70px;
    /* or 467% */
    
    letter-spacing: 0.02em;
    
    color: rgba(8, 47, 73, 0.34);
}

.TawarJasa{
    position: absolute;
    width: 284px;
    height: 103px;
    left: 378px;
    top: 1508px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    
    
    /* Text color */
    
    color: #0F001A;
    
    opacity: 0.6;
}

.ModalJemput{
    position: absolute;
    width: 380px;
    height: 525px;
    left: 815px;
    top: 1568px;
}

.Jemput{
    position: absolute;
    width: 237px;
    height: 30px;
    left: 863px;
    top: 1804px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    
    letter-spacing: 0.02em;
    
    /* Text color */
    
    color: #0F001A;
}

.TawarJemput{
    position: absolute;
    width: 284px;
    height: 103px;
    left: 863px;
    top: 1850px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    
    
    /* Text color */
    
    color: #0F001A;
    
    opacity: 0.6;
}

/* gambar */
.org_konsul{
    position: absolute;
    width: 224px;
    height: 197px;
    left: 893px;
    top: 918px;
}

.org_servis{
    position: absolute;
    width: 182px;
    height: 132px;
    left: 404px;
    top: 1274px;
}

.org_jemput{
    position: absolute;
    width: 156px;
    height: 131px;
    left: 915px;
    top: 1617px;
    
}
