.AllHome4 {
  font-style: normal;
  font-family: "Poppins";
  margin-top: 150px;
  margin-bottom: 80px;
}

/* .Baris {
  margin-top: 50px;
} */

.Judul {
  text-align: center;
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;

  color: #0f001a;
  padding-bottom: 40px;
}

.GambarTest {
  display: block;
}

.testimoni {
}

.Tulisan {
  display: inline-block;
}

.quote {
  padding-top: 70px;
  padding-bottom: 30px;
}

.Par {
  max-width: 420px;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  /* Text color */

  color: #0f001a;
}

.Nama {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  /* Text color */

  color: #0f001a;
}

.Tombol {
  padding-left: 270px;
  padding-top: 30px;
}
.TombolPrev {
}

.TombolNext {
}
