.Footer {
  background-color: #082f49;
  background-size: cover;
  color: #ffffff;
}

.Copyright {
  border-top: #ffffff;
  border-radius: 116px;
}

.LogoFooter {
  margin: 48px;
  margin-top: 10px;
  margin-right: 40px;
  margin-bottom: 32px;
  margin-left: 5px;
}

.Atas {
  padding: 100px;
  padding-top: 50px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 50px;
}

.Youtube {
  padding: 100px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.Instagram {
  padding: 100px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.Facebook {
  padding: 100px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.Twitter {
  padding: 100px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.tulisanhak {
  padding: 100px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.Footer {
  font-family: "Poppins";
  font-style: normal;
}

.SubsArea {
  /* padding: 100px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px; */
  display: flex;
}

.SubsButton {
  margin-right: 10px;
  margin-bottom: 22px;
  margin-left: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  background-color: #ffffff;
  color: #082f49;
}

.SubsPar {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.PlaceholderEmail {
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}
