.logo_footer{
    position: absolute;
    width: 93px;
    height: 101px;
    left: 121px;
    top: 4250px;    
}

.FooterLink{
    position: absolute;
    width: 135px;
    height: 114px;
    left: 378px;
    top: 4215px;
    
}

.JudulTautan{
    position: absolute;
    width: 135px;
    left: 378px;
    top: 93.33%;
    bottom: 6.11%;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    
    color: #000000;
}

.buatAkun{
    position: absolute;
    left: 26.25%;
    right: 68.82%;
    top: 94.66%;
    bottom: 4.87%;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #080000;
}

.tentangKami{
    position: absolute;
    left: 26.25%;
    right: 66.94%;
    top: 95.39%;
    bottom: 4.14%;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #000000;
}

.FooterLainnya{
    position: absolute;
    width: 153px;
    height: 213px;
    left: 578px;
    top: 4215px;
}

.JudulLainnya{
    position: absolute;
    left: 40.14%;
    right: 54.93%;
    top: 93.33%;
    bottom: 6.07%;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #000000;
}

.FAQ{
    position: absolute;
    left: 40.14%;
    right: 52.15%;
    top: 94.66%;
    bottom: 4.87%;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #000000;
}

.contactUs{
    position: absolute;
    left: 40.14%;
    right: 53.75%;
    top: 95.39%;
    bottom: 4.14%;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #0e0000;
    
}

.Legal{
    position: absolute;
    left: 40.14%;
    right: 57.22%;
    top: 96.12%;
    bottom: 3.41%;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #070000;
}

.Policy{
    position: absolute;
    left: 40.14%;
    right: 54.03%;
    top: 96.86%;
    bottom: 2.68%;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #000000;
}

.TnC{
    position: absolute;
    left: 40.14%;
    right: 49.24%;
    top: 97.59%;
    bottom: 1.95%;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #000000;
}

.FooterLayanan{
    position: absolute;
    width: 106px;
    height: 168.34px;
    left: 760px;
    top: 4214.66px;
}

.JudulLayanan{
    position: absolute;
    left: 52.78%;
    right: 41.74%;
    top: 93.33%;
    bottom: 6.07%;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #000000;
}

.Servis{
    position: absolute;
    width: 41px;
    height: 21px;
    left: 760px;
    top: 4270.66px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #000000;
}

.Consult{
    position: absolute;
    width: 72px;
    height: 21px;
    left: 760px;
    top: 4305.66px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #000000;
}

.Jemput{
    position: absolute;
    width: 106px;
    height: 42px;
    left: 760px;
    top: 4341px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    
    color: #030000;
}

.FootSubs{
    position: absolute;
    width: 394px;
    height: 135px;
    left: 922px;
    top: 4204px;
}

.SubsPar{
    position: absolute;
    width: 364px;
    height: 78px;
    left: 922px;
    top: 4204px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    /* or 144% */
    
    
    color: #000000;
}

.SubsArea{
    position: absolute;
    width: 394px;
    height: 50px;
    left: 922px;
    top: 4289px;
}

.SubsField{
    position: absolute;
    width: 268px;
    height: 50px;
    left: 922px;
    top: 4289px;
}

.SubsButton{
    position: absolute;
    width: 116px;
    height: 50px;
    left: 1200px;
    top: 4289px;
}

.Bawah{
    position: absolute;
    width: 1191.89px;
    height: 16px;
    left: 124px;
    top: 4474.66px;
}

.Copyright{
    position: absolute;
    left: 8.61%;
    right: 77.99%;
    top: 99.08%;
    bottom: 0.56%;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10.41px;
    line-height: 16px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #000000;
}

.SosialMedia{
    position: absolute;
    left: 82.08%;
    right: 8.62%;
    top: 99.08%;
    bottom: 0.56%;
}

.Youtube{
    position: absolute;
    left: 82.08%;
    right: 16.37%;
    top: 99.08%;
    bottom: 0.56%;
}

.Instagram{
    position: absolute;
    left: 84.93%;
    right: 13.96%;
    top: 99.08%;
    bottom: 0.56%;
    
}

.Facebook{
    position: absolute;
    left: 87.78%;
    right: 11.7%;
    top: 99.08%;
    bottom: 0.56%;
    
}

.Twitter{
    position: absolute;
    left: 90.04%;
    right: 8.62%;
    top: 99.08%;
    bottom: 0.56%;
}