.ComingSoon {
  display: block;
  padding-left: 700px;
  padding-top: 20px;
  padding-bottom: 140px;
}

.Judul {
  text-align: center;
  padding-bottom: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  /* identical to box height */

  text-align: center;

  /* Text color */

  color: #0f001a;
}

.Par {
  max-width: 444px;
  text-align: center;
  padding-bottom: 60px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  text-align: center;

  /* Text color */

  color: #0f001a;
}

.googleplay {
  max-width: 180px;
  padding-bottom: 10px;
}

.Soon {
  text-align: center;
  /* padding-bottom: 30px; */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 70px;
  /* or 219% */

  letter-spacing: 0.02cm;

  color: #082f49;
}

.Avail {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 70px;
  /* or 350% */

  letter-spacing: 0.02cm;
}
